HELP.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/target/surefire-reports/2025-01-04T00-10-48_127.dumpstream
/target/surefire-reports/com.fm.progresstracker.ProgressTrackerApiApplicationTests.txt
/target/maven-archiver/pom.properties
/target/progress-tracker-api-0.0.1-SNAPSHOT.jar
/target/progress-tracker-api-0.0.1-SNAPSHOT.jar.original
/target/surefire-reports/TEST-com.fm.progresstracker.ProgressTrackerApiApplicationTests.xml
/target/classes/com/fm/progresstracker/entity/Visitor$VisitorBuilder.class
/target/classes/com/fm/progresstracker/entity/Visitor.class
/target/classes/com/fm/progresstracker/repository/VisitorRepository.class
/target/surefire-reports/2025-01-04T16-46-32_022.dumpstream
/target/classes/com/fm/progresstracker/mapper/CommonMapper.class
/target/classes/com/fm/progresstracker/mapper/CommonMapperImpl.class
/target/generated-sources/annotations/com/fm/progresstracker/mapper/CommonMapperImpl.java
/target/classes/com/fm/progresstracker/dto/UserDto$UserDtoBuilder.class
/target/classes/com/fm/progresstracker/dto/UserDto.class
/target/classes/com/fm/progresstracker/dto/VisitorDto$VisitorDtoBuilder.class
/target/classes/com/fm/progresstracker/dto/VisitorDto.class
